* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

html,
main {
  background-color: rgb(236, 240, 245);
}

html * {
  font-family: 'Source Sans 3', sans-serif;
}